    @tailwind base;
    @tailwind components;
    @tailwind utilities;
    body {
        padding: 10px;
        font-family: sans-serif;
    }
    
    .row {
        display: flex;
    }
    
    @media only screen and (min-width: 768px) {
        body {
            width: 360px;
            margin-left: 50%;
            margin-top: 60px;
            transform: translate(-50%, 0);
        }
    }